*.py[cod]
__pycache__

*.cache
*.egg-info
*.pdf

# Development and build files
.coverage
.pytest_cache
build
coverage.xml
dist
doc/cache.sqlite
doc/_build
prof/
htmlcov
.eggs/

# Editors
.vscode/settings.json
