language: python
cache: pip
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.7-dev"

dist: xenial

install:
  - pip install -r requirements.txt
  - pip install coverage codecov pytest-cov
  - pip install --no-deps -e .

script: pytest --cov=pandasdmx --cov-report=term-missing --remote-data --verbose

after_success:
  - coverage combine
  - codecov

notifications:
  email: false
