language: python

dist: xenial

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7"
  - "3.7-dev"
  - "3.8-dev"

dist: xenial

install:
  - pip install -r requirements.txt
  - pip install coverage codecov pytest-cov
  - pip install --no-deps -e .

script: pytest --cov=pandasdmx --cov-report=term-missing --remote-data

after_success:
  - coverage combine
  - codecov

notifications:
  email: false
