jsonpath-rw>=1.4.0
lxml>=3.6.0
odo>=0.5
pandas>=0.20.0
pydantic>=0.25
pytest>=3.3
pytest-remotedata>=0.3.1
requests-cache>=0.4.13
requests-mock>=1.4
requests>=2.7
setuptools>19.0
Sphinx>=1.5
